<div class="container grid grid-cols-12 gap-6">
  <div class="col-span-12 space-y-6 lg:col-span-5 lg:space-y-10 2xl:col-span-4">
    <div class="flex max-w-170 flex-col items-start justify-start">
      <p
        class="bg-primary mb-4 rounded-full px-4 py-1 max-sm:text-sm sm:py-1.5"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        FAQs
      </p>
      <h2
        class="text-2xl font-medium sm:text-3xl md:text-4xl lg:text-5xl"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        Frequently Asked Questions
      </h2>
      <p
        class="text-n500 pt-4 max-sm:text-sm sm:pt-6"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        Find quick answers to common questions about eSIM setup, plans, and
        compatibility
      </p>
    </div>

    <div class="bg-secondary space-y-6 rounded-2xl p-6">
      <img src="./assets/images/chat-icon.png" alt="" />
      <div class="">
        <p class="text-xl text-white">
          Questions? Our friendly team is available24 hours a day
        </p>
        <div class="flex flex-wrap items-center justify-start gap-3 pt-4">
          <a
            href="./contact-us.html"
            class="font-alexandria rounded-xl border border-white bg-white px-6 py-2 duration-300 hover:bg-transparent sm:text-lg"
          >
            Email
          </a>
          <a
            href="./contact-us.html"
            class="bg-primary font-alexandria border-primary rounded-xl border px-6 py-2 duration-300 hover:bg-transparent hover:text-white sm:text-lg"
          >
            Live Chat
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-span-12 flex flex-col justify-end space-y-4 sm:space-y-6 lg:col-span-7 2xl:col-start-6"
    data-aos="fade-up"
    data-aos-delay="200"
    data-aos-duration="1000"
  >
    <div
      class="faq-accordion-area <%= isShadow %> cursor-pointer rounded-xl border bg-white px-4 sm:px-8"
    >
      <div class="faq-accordion flex items-center justify-between py-3 md:py-4">
        <p class="question text-lg font-medium">What is an eSIM?</p>
        <button
          class="icon-bg flex size-6 shrink-0 items-center justify-center rounded-md text-lg duration-300 sm:size-8 sm:text-xl"
        >
          <i class="ph ph-plus"></i>
        </button>
      </div>
      <div class="h-0 overflow-hidden duration-500">
        <p class="answer text-n500 pb-3 max-sm:text-sm md:pb-4">
          The cost of an eSIM varies depending on how much data you need and the
          country/region you are visiting. Plans start as low as $4.50 for 1GB
          of data with aloSIM, and go up depending on the size of the package.
        </p>
      </div>
    </div>
    <div
      class="faq-accordion-area <%= isShadow %> cursor-pointer rounded-xl border bg-white px-4 sm:px-8"
    >
      <div class="faq-accordion flex items-center justify-between py-3 md:py-4">
        <p class="question text-lg font-medium">How much does eSIM cost?</p>
        <button
          class="icon-bg flex size-6 shrink-0 items-center justify-center rounded-md text-lg duration-300 sm:size-8 sm:text-xl"
        >
          <i class="ph ph-plus"></i>
        </button>
      </div>
      <div class="h-0 overflow-hidden duration-500">
        <p class="answer text-n500 pb-3 max-sm:text-sm md:pb-4">
          The cost of an eSIM (a digital SIM card you install on your phone
          without needing a physical one) can vary a lot depending on what
          you’re using it for — travel, local service, data amount, and the
          provider you choose.
        </p>
      </div>
    </div>
    <div
      class="faq-accordion-area <%= isShadow %> cursor-pointer rounded-xl border bg-white px-4 sm:px-8"
    >
      <div class="faq-accordion flex items-center justify-between py-3 md:py-4">
        <p class="question text-lg font-medium">
          Why is an eSIM good for travel?
        </p>
        <button
          class="icon-bg flex size-6 shrink-0 items-center justify-center rounded-md text-lg duration-300 sm:size-8 sm:text-xl"
        >
          <i class="ph ph-plus"></i>
        </button>
      </div>
      <div class="h-0 overflow-hidden duration-500">
        <p class="answer text-n500 pb-3 max-sm:text-sm md:pb-4">
          An eSIM is good for travel because it lets you get affordable data
          instantly without buying a physical SIM, avoid expensive roaming, use
          it in multiple countries, and switch plans easily right from your
          phone.
        </p>
      </div>
    </div>
    <div
      class="faq-accordion-area <%= isShadow %> cursor-pointer rounded-xl border bg-white px-4 sm:px-8"
    >
      <div class="faq-accordion flex items-center justify-between py-3 md:py-4">
        <p class="question text-lg font-medium">Does my phone support eSIM?</p>
        <button
          class="icon-bg flex size-6 shrink-0 items-center justify-center rounded-md text-lg duration-300 sm:size-8 sm:text-xl"
        >
          <i class="ph ph-plus"></i>
        </button>
      </div>
      <div class="h-0 overflow-hidden duration-500">
        <p class="answer text-n500 pb-3 max-sm:text-sm md:pb-4">
          Whether your phone supports eSIM depends on the model you’re using.
          Most modern smartphones support eSIM, including iPhone XS, XR, and all
          newer iPhones, Google Pixel 3 and above, and Samsung Galaxy S20 series
          or newer models.
        </p>
      </div>
    </div>
    <div
      class="faq-accordion-area <%= isShadow %> cursor-pointer rounded-xl border bg-white px-4 sm:px-8"
    >
      <div class="faq-accordion flex items-center justify-between py-3 md:py-4">
        <p class="question text-lg font-medium">When do I install an eSIM?</p>
        <button
          class="icon-bg flex size-6 shrink-0 items-center justify-center rounded-md text-lg duration-300 sm:size-8 sm:text-xl"
        >
          <i class="ph ph-plus"></i>
        </button>
      </div>
      <div class="h-0 overflow-hidden duration-500">
        <p class="answer text-n500 pb-3 max-sm:text-sm md:pb-4">
          You can install an eSIM before you travel or after you arrive at your
          destination, but it’s usually best to install it before your trip.
          Installing it in advance ensures everything is set up while you still
          have reliable internet
        </p>
      </div>
    </div>
  </div>
</div>
